@import "grid.css";

* {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

/*div, p, h1, h2, h3, h4, h5, h6 :hover {*/
/*    cursor: default;*/
/*}*/

#app {
    padding-bottom: 20vh;
}

body {
    background-color: #1e222d;
}

.close {
    color: #fff;
}

.close:hover {
    color: #fff;
}

.spinner-border {
    padding: 50px;
    margin: 150px;
}

.filters .form-group {
    margin-bottom: 0;
}

/*Закругление границ уведомлений*/
.toast {
    border-radius: 0.5rem;
    box-shadow: 4px 4px 15px 5px black;
}
/*------------------------------*/

/*Список ошибок в уведомлении*/
.errors-list {
    list-style: url('/img/error-arrow.svg');
    margin-bottom: 0 !important;
}
/*------------------------------*/

    /*Навбар и дропдауны*/

/*Адаптация дропдаунов в навбаре под разные размеры, чтобы выглядело красиво*/
.navbar-nav {
    width: 50%;
}

@media (min-width: 576px) {
    .navbar-nav {
        width: 35%;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        width: 27.5%;
    }
}

@media (min-width: 992px) {
    .navbar-nav {
        width: 100%;
    }
}

.dropdown-item {
    color: rgba(255,255,255,.5);
}

.dropdown-item:hover {
    cursor: pointer;
}

.dropdown-menu {
    overflow: auto;
    max-height: 200px;
}
/*-----------------------------------------*/

/*Список групп*/

.listGroups {
    overflow: auto;
    max-height: 80vh;
    border-top: solid rgba(0, 0, 0, 0.125) 1px;
    border-bottom: solid rgba(0, 0, 0, 0.125) 1px;
    width: 95% !important;
}

.filter-string {
    border-bottom: solid rgba(0, 0, 0, 0.125) 1px;
}

.list {
    overflow: auto;
    max-height: 80vh;
    border-top: solid rgba(0, 0, 0, 0.125) 1px;
    border-bottom: solid rgba(0, 0, 0, 0.125) 1px;
    width: 95% !important;
}

.list-group-header {
    border-bottom: solid rgba(0, 0, 0, 0.425) 2px;
}

.list-group {
    width: 100% !important;
    border-radius: 0px !important;
}

.list-group-item {
    transition: background-color 0.5s;
    border-radius: 0px !important;
}

.list-group:hover > li {
    background-color: #6c757d !important;
    transition: background-color 1s;
}

.list-group:hover {
    cursor: pointer !important;
}

.list-group-header:hover {
    cursor: default !important;
}

.list-group-header:hover > li {
    background-color: #343a40 !important;
}

.list-group-header > li {
    font-size: 1rem;
}

.list-group-item span {
    display: inline-block;
}
/*-----------------------------------------*/

/*Заголовки*/

.card-title {
    padding-bottom: 10px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/*-----------------------------------------*/


input.form-control {
    background-color: #5a6268;
    border-color: #545b62;
}

.grid-item > .card-body {
    position: relative;
    padding-bottom: calc(1.25rem * 2 + 0.9rem * 1.6);
}
.bottom-button {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 1.25rem !important;
    width: calc(100% - 1.25rem * 2);
}
