@import "grid.css";

* {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

/*div, p, h1, h2, h3, h4, h5, h6 :hover {*/
/*    cursor: default;*/
/*}*/

#app {
    padding-bottom: 20vh;
}

body {
    background-color: #1e222d;
}

.close {
    color: #fff;
}

.close:hover {
    color: #fff;
}

.spinner-border {
    padding: 50px;
    margin: 150px;
}

.filters .form-group {
    margin-bottom: 0;
}

/*Закругление границ уведомлений*/
.toast {
    border-radius: 0.5rem;
    box-shadow: 4px 4px 15px 5px black;
    -webkit-box-shadow: 4px 4px 15px 5px black;
    -moz-box-shadow: 4px 4px 15px 5px black;
}
/*------------------------------*/

/*Список ошибок в уведомлении*/
.errors-list {
    list-style: url('/img/error-arrow.svg');
    margin-bottom: 0 !important;
}
/*------------------------------*/

    /*Навбар и дропдауны*/

/*Адаптация дропдаунов в навбаре под разные размеры, чтобы выглядело красиво*/
.navbar-nav {
    width: 50%;
}

@media (min-width: 576px) {
    .navbar-nav {
        width: 35%;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        width: 27.5%;
    }
}

@media (min-width: 992px) {
    .navbar-nav {
        width: 100%;
    }
}

.dropdown-item {
    color: rgba(255,255,255,.5);
}

.dropdown-item:hover {
    cursor: pointer;
}

.admin-dropdown.dropdown-menu {
    overflow: auto;
    max-height: 200px;
}
/*-----------------------------------------*/

/*Список групп*/

.listGroups {
    overflow: auto;
    max-height: 80vh;
    border-top: solid rgba(0, 0, 0, 0.125) 1px;
    border-bottom: solid rgba(0, 0, 0, 0.125) 1px;
    width: 95% !important;
}

.filter-string {
    border-bottom: solid rgba(0, 0, 0, 0.125) 1px;
}

.list {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 80vh;
    border-top: solid rgba(0, 0, 0, 0.125) 1px;
    border-bottom: solid rgba(0, 0, 0, 0.125) 1px;
    width: 95% !important;
}

.list-group-header {
    border-bottom: solid rgba(0, 0, 0, 0.425) 2px;
}

.list-group {
    width: 100% !important;
    border-radius: 0px !important;
}

.list-group-item {
    transition: background-color 0.5s;
    border-radius: 0px !important;
}

.list-group:hover > li {
    background-color: #6c757d !important;
    transition: background-color 1s;
}

.list-group:hover {
    cursor: pointer !important;
}

.list-group-header:hover {
    cursor: default !important;
}

.list-group-header:hover > li {
    background-color: #343a40 !important;
}

.list-group-header > li {
    font-size: 1rem;
}

.list-group-item span {
    display: inline-block;
}
/*-----------------------------------------*/

/*Заголовки*/

.card-title {
    padding-bottom: 10px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/*-----------------------------------------*/


input.form-control {
    background-color: #5a6268;
    border-color: #545b62;
}

.user-card > .card-body {
    position: relative;
    padding-bottom: calc((0.75rem * 2 + (0.9rem * 1.6)) * 2 + 0.5rem + 1px);
}

.schedule-card > .card-body {
    position: relative;
    padding-bottom: calc((0.75rem * 2 + (0.9rem * 1.6)) + 0.5rem + 1px);
}

.grid-item {
    transition: box-shadow 0.5s;
}

.grid-item:hover  {
    -webkit-box-shadow: 0px 0px 27px 7px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 0px 27px 7px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 0px 27px 7px rgba(0, 0, 0, 0.29);
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0.31);
}

.bottom-button {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 1.25rem !important;
    width: calc(100% - 1.25rem * 2);
}

.random-password {
    width: 20px;
    height: 20px;
    padding: 0 !important;
    border: none;
    position: relative;
}

.random-password > svg {
    position: absolute;
    left: 0;
    top: 0;
}

.random-password {
    margin-left: 1rem;
}

.w-35 {
    width: 35% !important;
}

select.form-control:disabled, input.form-control:disabled {
    opacity: 0.5;
}

button.card-header {
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: white;
    text-align: left;
}

button.delete-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.delete-icon img {
    width: 24px;
    height: auto;
    opacity: 0.6;
    transition: .1s linear;
}

.delete-icon:hover img {
    opacity: 1;
}

button.plus-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display:flex;
    align-items:center;
    justify-content:center;
}

.plus-icon img {
    width: 24px;
    height: auto;
    opacity: 0.6;
    transition: .1s linear;

}

.plus-icon:hover img {
    opacity: 1;
}
#addLessonModal .modal-dialog {
    max-width: 85%;
}
/*#addLessonModal .form-control{*/
/*    width:auto;*/
/*}*/
/*#addLessonModal form{*/
/*    display:flex;*/
/*    justify-content: space-between;*/
/*}*/
.b-form-datepicker {
    display: flex;
    padding: 0;
    height: auto;
}

.b-form-datepicker label {
    margin: 0;
    border: none;
}

/*.b-form-datepicker .dropdown-menu {*/
/*    width: auto !important;*/
/*}*/

/*.b-calendar-inner {*/
/*    width: auto !important;*/
/*    min-width: 600px;*/
/*}*/

/*.b-form-datepicker {*/
/*    min-width: 700px;*/
/*}*/

.b-form-datepicker.btn-secondary {
    border-color: #6c757d;
}

.b-form-datepicker.btn-secondary label{
    background-color: #6c757d;
    color: white !important;
}

.b-form-datepicker.btn-secondary:hover label{
    background-color: #5a6268;
    color: white !important;
}

.b-form-datepicker.btn-secondary button svg {
    fill: white;
}

#addLessonModal .grid-1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 2rem;
    padding-top: 1rem;
}

#addLessonModal .form-group {
    margin-bottom: 0;
}

#createConfirm .modal-dialog {
    max-width: 50%;
}

.text-overflow-clip {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lesson hr {
    margin: 0;
}

.lesson {
    text-align: center;
}

.lesson-card {
    border-width: 2px;
}

button.to-end {
    position: absolute;
    right: 0;
}

.lessons-tabs  {
    font-size: 20px;
}

.arrow-back {
    width: 1.25em;
    height: 1.25em;
}

.arrow-back:hover {
    color: #298fe2;
    transition: .2s;
}
